@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

html, body {
    height: 100%;
}

.w-90 {
    width: 90%;
}

.h-100-min {
    min-height: 100vh;
}

.h-75-min {
    min-height: 75vh;
}

.h-55-min {
    min-height: 55vh;
}

textarea {
    min-height: 80px;
    max-height: 130px;
}

input, textarea {
    border-radius: 15px;
    border: none;
    font-weight: 600;
    background-color: rgba(0,0,0,0.05);
}

input:focus, textarea:focus {
    outline: none;
}

img {
    user-select: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #f7f7f7;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.9);
}

.sidenav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: black;
    display: block;
    transition: 400ms;
    border-radius: 5px;
    padding: 22.5px;
    margin: 12.5px 15px;
    white-space: nowrap;
    cursor: pointer;
}

.sidenav .block-1 {
    background-color: #ffd799;
}

.sidenav .block-2 {
    background-color: #ffce84;
}

.sidenav .block-3 {
    background-color: #ffc875;
}

.sidenav .block-4 {
    background-color: #ffc063;
}

.sidenav .block-5 {
    background-color: #ffb549;
}

.sidenav .block-6 {
    background-color: #ffa82b;
}

.sidenav .block-7 {
    background-image: linear-gradient(to left bottom, #ff9907, #ff8e4a, #ff8974, #ff8d98, #ff96b4);
}

.sidenav a:not(.closebtn):hover  {
    -webkit-filter: brightness(0.9);
    -o-filter: brightness(0.9);
    filter: brightness(0.9);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    padding: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.opacity {
    color: rgba(0,0,0,0.5)
}

.pm {
    font-family: PT Mono;
}

.ssp {
    font-family: Source Sans Pro;
}

.navbar-toggler-icon {
    border: 0 !important;
}

nav div a:last-child {
    color: black !important;
}

nav div a {
    color: black;
    transition: 400ms;
    color: rgba(0,0,0,0.55) !important;
}

nav div a:hover {
    color: black;
    text-decoration: none;
    color: rgba(0,0,0,1) !important;
}

.bg {
    background: url(background.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.bg-s1 {
    background-color: #ffd799;
}

.bg-s2 {
    background-color: #ffce84;
}

.bg-s3 {
    background-color: #ffc875;
}

.bg-s4 {
    background-color: #ffc063;
}

.bg-s5 {
    background-color: #ffb549;
}

.bg-s6 {
    background-color: #ffa82b;
}

.bg-s7 {
    background-image: linear-gradient(to left bottom, #ff9907, #ff8e4a, #ff8974, #ff8d98, #ff96b4);
}

.text-s1 {
    font-size: 23px;
    font-family: Source Sans Pro;
}

.text-s1 span:first-child {
    font-size: 30px;
}

.company-title {
    font-size: 200px;
    letter-spacing: 5px;
    line-height: 0.75;
    user-select: none;
}

.company-text {
    font-size: 21px;
}

.hw-box div:not(.arrow) {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    background-color: #ffdca8;
    border-radius: 20px;
    padding: 13px;
    font-family: Source Sans Pro;
}

.i-box img {
    background-color: white;
    border-radius: 100px;
    padding: 15px;
    box-shadow: 0px 0px 50px rgba(255,255,255,1);
    transition: 400ms;
}

.i-box img:hover {
    box-shadow: 0px 0px 30px rgba(255,255,255,1);
}

.contact-block, .submit-btn {
    border-radius: 15px;
}

.submit-btn {
    background: #FF8008;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    user-select: none;
    bottom: 0;
    left: 0;
    color: white;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.08);
    transition: 400ms;
}

.submit-btn:hover {
    color: white;
    text-decoration: none;
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    .company-title {
        font-size: 120px;
    }
    
    .company-text {
        font-size: 17px;
    }
    
    .company-image {
        width: 260px !important;
    }
    
    .img-el {
        height: 340px !important;
    }
    
    .submit-btn {
        left: 5%;
    }
}

@media screen and (max-width: 414px) {
    .company-title {
        font-size: 90px;
    }
    
    h1 {
        font-size: 36px
    }
}

@media screen and (max-width: 320px) {
    .company-title {
        font-size: 60px;
    }
    
    .company-text {
        font-size: 14px !important;
    }
    
    .company-image {
        width: 200px !important;
    }
}

/*#ff9c51*/